:root {
  
    --clr-bkr-body: hsl(240, 41%, 72%);
    --clr-bkr-01: hsl(256, 41%, 20%);
    --clr-bkr-02: hsl(240, 51%, 58%);
    --clr-bkr-03: hsla(220, 73%, 48%, 0.3);
    --clr-bkr-04: hsla(0, 73%, 48%, 0.3);
    --clr-bkr-05: hsla(0, 29%, 73%, 0.3);
    --clr-bkr-06: hsla(161, 73%, 48%, 0.3);
    --clr-bkr-07: hsla(59, 73%, 48%, 0.3);
    --clr-no-01: #481e1e;
    --clr-card-desc:hsl(240, 41%, 72%); 

    --ff-roboto: 'Roboto', sans-serif;
    --ff-primary: Heebo, sans-serif;
    --ff-secondary: Bungee, cursive;
    --ff-accent: Bungee Shade, cursive;

}
/* ============= reset css ======================*/
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
h1, h2,
h3, h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input, button,
textarea, select {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}

/*========================   original css settings ============================*/

html {
    font-family: var(--ff-roboto, system-ui);
}

body {
    background-color: var(--clr-bkr-body, #e2c4c4);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* display: grid; */
    /* place-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 0.3rem; */
    /* padding: 0.3rem; */
}

.card {
  --col-1: minmax(1rem, 1fr);
  --col-2: minmax(3rem, 1.5fr);
  /* border: 2px solid; */
  inline-size: minmax(10rem, 17rem);
  min-block-size: 15rem;
  max-block-size: 17rem;
  min-inline-size: 15rem;
  max-inline-size: 30rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1rem var(--col-1) 2.5rem var(--col-2) 1rem;
  grid-template-rows: 1rem 1fr 2rem 2rem 1rem 1rem;   
  position: relative;
}

.item1 {
    background-color: hsla(0, 41%, 20%, .5);
    grid-column: 1 / 4;
    grid-row: 2 / -3;
    z-index: 5;
}
.item1.hide {
   display: none;
}
.item2 {
    grid-column: 3 / -1;
    
    grid-row: 1 / -2;
    overflow: hidden;
}
.item2.large {
     grid-column: 1 / -1;
}
.item2 img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.item3 {
    /* border: 2px solid; */
     /* opacity: .5; */
    grid-column: 2 / -2;
    grid-row: 3 / -1;
    z-index: 20;
    overflow: hidden;
}
.card-content {
    display: grid;
    grid-template-rows: 3rem 1fr;
}
.ccitem1 {
    display: flex;
    grid-row: 1;
}
.ccitem2 {
    grid-row: 2;
}
.ccbtn {
    block-size: 3rem;
    inline-size: 3rem;
    min-block-size: 3rem;
    margin-inline-start: auto;
    background-color: hsl(204, 2%, 54%, 0.2);
    display: grid;
    place-content: center;
    cursor: default;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 50%;
    line-height: 3rem;
    transform: rotate(180deg);
    
}
.ccbtn.chide {
  display: none;
}
.ccitem2 {
    background-color: hsl(204, 100%, 22% , 0.3);
    min-block-size: 3rem;;
}
.card-title {
    text-align: center;
    color:hsl(180, 100%, 100%);
    letter-spacing: .05rem;
    font-size: 1.3rem;
    /* padding: .1rem 0; */
}
.card-desc {
    padding: .3em;
    font-size: 1.1rem;
    color: #fff;
    /* color: var(--clr-card-desc, #fff); */
}
.cshowleft {
    position: absolute;
    top: 1rem; left: 0;
    display: subgrid;
    grid-column: 1 / 4;
    color: #fff;
    opacity: 1;
    z-index: 10;
}


/* Card content up / down */
/* .ccbtn {
  transform: rotate(180deg);
} */
.item3.ontop {
  position: absolute;
}

.item3[data-state="down"] {
  animation: adown .5s linear forwards;
}

@keyframes adown {
    0% {
        top: -10rem;
    }
    100% {
        top: 0;
    }
}
.item3[data-state="down"] .ccbtn {
    transform: rotate(180deg);
    animation: adownp .5s linear forwards;
}
@keyframes adownp {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.item3[data-state="up"] {
    animation: aup .5s linear forwards;
}
@keyframes aup {
    0% {
       top: 0;
    }
    100% {
        top: -10rem;
    }
}
.item3[data-state="up"] .ccbtn {
    animation: aupp .5s linear forwards;
}
@keyframes aupp {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ********************** */



.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 50%);
  }
  100% {
    background-color: hsl(200, 20%, 35%);
  }
}
