:root {
  
    --clr-bkr-body: hsl(240, 41%, 72%);
    --clr-bkr-01: hsl(256, 41%, 20%);
    --clr-bkr-02: hsl(240, 51%, 58%);
    --clr-bkr-03: hsla(220, 73%, 48%, 0.3);
    --clr-bkr-04: hsla(0, 73%, 48%, 0.3);
    --clr-bkr-05: hsla(0, 29%, 73%, 0.3);
    --clr-bkr-06: hsla(161, 73%, 48%, 0.3);
    --clr-bkr-07: hsla(59, 73%, 48%, 0.3);
    --clr-no-01: #481e1e;

    --ff-roboto: 'Roboto', sans-serif;
    --ff-primary: Heebo, sans-serif;
    --ff-secondary: Bungee, cursive;
    --ff-accent: Bungee Shade, cursive;

}
/* ============= reset css ======================*/
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
h1, h2,
h3, h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input, button,
textarea, select {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}

/*========================   original css settings ============================*/

html {
    font-family: var(--ff-roboto, system-ui);
}

body {
    background-color: var(--clr-bkr-body, #e2c4c4);
    display: grid;
    place-content: center;
}
.ctall {
  border: 2px solid;
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 50%);
  }

  100% {
    background-color: hsl(200, 20%, 35%);
  }
}
